* {
  user-select: none;
}
p {
  font-size: 15px;
  line-height: 25px;
}
section {
  padding: 25px 0 35px;
  background: #fff;
}
body {
  position: relative;
  font-size: 14px;
}
a {
  color: #3cc;
}
a:hover {
  color: #ff0;
}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
.modal-open .modal {
  padding-right: 0 !important;
}
.fixed-side-navbar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 99999;
  margin-top: -100px;
  text-align: right;
  padding: 30px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 500px) {
  .fixed-side-navbar {
    display: none;
  }
}
.fixed-side-navbar:hover {
  background: 0 0;
}
.fixed-side-navbar:hover .nav > li > a > span {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 12px;
  border-radius: 15px;
}
.fixed-side-navbar .nav > li a.active {
  background-color: transparent;
  color: #000;
}
.fixed-side-navbar .nav > li a.active:after {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.fixed-side-navbar .nav > li a.active:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: 0 0;
  border: 2px solid #fff;
  border-radius: 10px;
}
.nav > li {
  position: relative;
  display: block;
}
.fixed-side-navbar .nav > li a {
  color: #fff;
  min-height: 32px;
  background: 0 0;
  padding: 5px 45px 5px 25px;
  border-right: none;
}
.fixed-side-navbar .nav > li a span {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media only screen and (max-width: 550px) {
  .fixed-side-navbar .nav > li a {
    padding: 0;
  }
  .fixed-side-navbar .nav > li a span,
  .fixed-side-navbar .nav > li a:hover > span {
    display: none;
  }
}
.fixed-side-navbar .nav > li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.75);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}
.fixed-side-navbar .nav > li a:hover {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: #000;
  border-right: 0;
}
.fixed-side-navbar .nav > li a:hover > span {
  color: #000;
  opacity: 1;
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
#home .container {
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 30px;
}
.primary-button a,
button.primary-button {
  display: inline-block;
  background-color: #965b5b;
  padding: 15px 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.secondary-button.secondary-button {
  background-color: #e44444;
}
.primary-button.success {
  background-color: #44e479;
}
.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}
.baner-content {
  padding-top: 30vh;
  text-align: center;
  background-image: url(../img/1st-section.jpg);
}
.baner-content h1 {
  margin-top: 0;
  font-size: 128px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
}
.baner-content em {
  color: #965b5b;
  font-weight: 600;
  font-style: normal;
}
.baner-content h2 {
  display: inline-block;
  margin-top: -20px;
  font-weight: 300;
  font-size: 38px;
  color: #fff;
}
.baner-content .primary-button {
  margin-top: 15px;
}
.service-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  background-image: url(../img/2nd-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}
.service-content .left-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.h4,
h4 {
  font-size: 18px;
}
.service-content .left-text .line-dec {
  width: 45px;
  height: 3px;
  background-color: #965b5b;
  margin: 20px 0 20px 0;
}
.service-content .left-text p {
  color: #fff;
}
.service-content .left-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}
.service-content .left-text ul li {
  margin: 15px 0;
  font-weight: 600;
  color: #fff;
}
.service-content .left-text .primary-button {
  margin: 30px 0;
}
.service-content .service-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.service-content .service-item.clickable:hover {
  background-color: #965b5b;
}
.service-content .service-item .line-dec {
  width: 45px;
  height: 3px;
  background-color: #965b5b;
  margin: 20px auto 15px auto;
}
.projects-content {
  padding-top: 20vh;
  background-image: url(../img/3rd-section.jpg);
}
.projects-content .item img {
  width: 100%;
}
.projects-content .item {
  margin: 15px;
}
.projects-content .item .text-content {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}
.projects-content .item .text-content h4 {
  margin-top: 0;
  font-size: 19px;
  font-weight: 600;
}
.projects-content .item .text-content span {
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  color: #965b5b;
}
.owl-pagination {
  margin-top: 40px;
  opacity: 1;
  display: inline-block;
}
.owl-page span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}
.tabs-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8vh;
  background-image: url(../img/4th-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}
.picker-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8vh;
  background-image: url(../img/6th-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}
section {
  background-color: transparent;
  padding-bottom: 15px;
}
.wrapper {
  text-align: center;
}
.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tabs li {
  display: inline-block;
  text-align: center;
  margin: 10px;
}
.tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 15px;
  border: 4px solid #fff;
}
.tabs a:hover {
  color: #965b5b;
}
.tabs .active {
  border: 4px solid #965b5b;
}
.tabgroup p {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 25px;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.contact-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16vh;
  background-image: url(../img/5th-section.jpg);
}
.contact-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 25px;
  margin-bottom: 30px;
}
#contact input {
  border-radius: 3px;
  padding-left: 15px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: 0;
  border: none;
  box-shadow: none;
  line-height: 50px;
  height: 50px;
  width: 100%;
}
.error-message {
  color: #ef9696;
  font-weight: 800;
}
#contact textarea {
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: 0;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 100%;
}
#contact button {
  display: inline-block;
  background-color: #965b5b;
  padding: 15px 24px;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}
#promo-modal {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  opacity: 0;
}
#promo-modal > * {
  pointer-events: none;
}
#promo-modal.visible,
#promo-modal.visible > * {
  opacity: 1;
  pointer-events: all;
}
.custom-modal-content,
.modal-content {
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.9);
  min-height: 200px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.custom-modal-content {
  width: 300px;
  flex-direction: column;
}
.modal-content {
  color: #fff;
  text-align: center;
}
.modal-content img {
  border-radius: 10px;
  margin: 20px;
  max-width: 85%;
}
#exampleModal .modal-body img {
  max-width: 400px;
}
@media screen and (max-width: 500px) {
  #exampleModal .modal-body img {
    max-width: 80%;
  }
}
footer {
  text-align: center;
  background-color: #282b2f;
  padding: 70px 0;
}
footer .primary-button {
  margin-bottom: 30px;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer ul#social-content li {
  display: inline-block;
  margin: 0 4px;
}
footer ul#social-content li a img {
  width: 20px;
}
footer ul#social-content li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #965b5b;
  color: #282b2f;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}
footer h6 {
  color: #a39f9f;
  margin-top: 20px;
}
#equation-block {
  font-size: 40px;
}
footer ul#social-content li a:hover {
  color: #282b2f;
  background-color: #af8383;
}
#footer-menu-assets a,
#footer-menu-links a {
  color: #fff;
}
#footer-menu-assets a:hover,
#footer-menu-links a:hover {
  color: #af8383;
}
footer p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}
footer em {
  color: #af8383;
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 767px) {
  .baner-content {
    padding-top: 30vh;
  }
  .baner-content h1 {
    font-size: 64px;
  }
  .baner-content h2 {
    font-size: 24px;
  }
  .baner-content .primary-button {
    margin-top: 15px;
  }
  .service-content {
    padding-top: 5vh;
    text-align: center;
  }
  .service-content .left-text .line-dec {
    width: 45px;
    height: 3px;
    background-color: #965b5b;
    margin: 20px auto 20px auto;
  }
  .service-content .left-text ul {
    text-align: left;
  }
  .service-content .service-item {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png)
    url(../img/next.png);
  display: none;
}
body.lb-disable-scrolling {
  overflow: hidden;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #000;
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: 400;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  border: 4px solid #fff;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff;
}
.lb-outerContainer:after {
  content: '';
  display: table;
  clear: both;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: 0;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}
.lb-next,
.lb-prev {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: '';
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 4px;
  color: #ccc;
}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: 700;
  line-height: 1em;
}
.lb-data .lb-caption a {
  color: #4ae;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: 0;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  opacity: 1;
}
.checkbox-block input {
  display: none;
}
.checkbox-block [type='checkbox']:checked,
.checkbox-block [type='checkbox']:not(:checked) {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
.checkbox-block [type='checkbox']:checked + label,
.checkbox-block [type='checkbox']:not(:checked) + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}
.checkbox-block [type='checkbox']:checked + label:before,
.checkbox-block [type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 0.2em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 rgba(203, 34, 237, 0.2);
  -webkit-transition: all 275ms;
  transition: all 275ms;
}
.checkbox-block [type='checkbox']:checked + label:after,
.checkbox-block [type='checkbox']:not(:checked) + label:after {
  content: '✕';
  position: absolute;
  top: 0.525em;
  left: 0.1em;
  font-size: 1.375em;
  color: #cb22ed;
  line-height: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.checkbox-block [type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}
.checkbox-block [type='checkbox']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(-45deg);
  transform: scale(1) rotate(-45deg);
}
.checkbox-block [type='checkbox']:disabled:checked + label:before,
.checkbox-block [type='checkbox']:disabled:not(:checked) + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}
.checkbox-block [type='checkbox']:disabled:checked + label:after {
  color: #777;
}
.checkbox-block [type='checkbox']:disabled + label {
  color: #aaa;
}
.checkbox-block [type='checkbox']:checked:focus + label:before,
.checkbox-block [type='checkbox']:not(:checked):focus + label:before {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
    0 0 0 6px rgba(203, 34, 237, 0.2);
}
.radio-block .container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.radio-block ul li {
  color: #aaa;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 110px;
}
.radio-block ul li input[type='radio'] {
  position: absolute;
  visibility: hidden;
}
.radio-block ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
}
.radio-block ul li:hover label {
  color: #fff;
}
.radio-block ul li .check {
  display: block;
  position: absolute;
  border: 5px solid #aaa;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 35px;
  left: 20px;
  z-index: 5;
  transition: border 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out;
}
.radio-block ul li:hover .check {
  border: 5px solid #fff;
}
.radio-block ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 11px;
  width: 11px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
}
.radio-block input[type='radio']:checked ~ .check {
  border: 5px solid #965b5b;
}
.radio-block input[type='radio']:checked ~ .check::before {
  background: #965b5b;
}
.radio-block input[type='radio']:checked ~ label {
  color: #965b5b;
}
#form-success {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  background: #965b5b;
  transition: 0.2s ease-in-out;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form-success span {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
#form-success.visible {
  opacity: 0.95;
}
#custom-captcha,
#robot {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  background: #a7514b;
  transition: 0.2s ease-in-out;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#custom-captcha input {
  width: 100px;
}
#custom-captcha.visible {
  opacity: 1;
  pointer-events: all;
}
#robot.visible {
  opacity: 1;
}
.ui-datepicker {
  z-index: 99 !important;
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}
@keyframes pulse {
  0% {
    color: #ef9696;
  }
  50% {
    color: #4a2929;
  }
  100% {
    color: #ef9696;
  }
}
#colorpicker {
  width: 80px;
  height: 46px;
  padding: 0;
  border: none;
}
#color-picker svg {
  max-width: 80%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.95;
}
.colors-block div {
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.colors-block div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.colors-block div:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.colors-block div:first-of-type {
  border-top-left-radius: 20px;
}
.colors-block div:last-of-type {
  border-top-right-radius: 20px;
}
.colors-block {
  max-width: 80%;
  border-bottom: 20px solid #fff;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 550px) {
  .colors-block {
    flex-wrap: wrap;
    justify-content: center;
  }
  .colors-block div:first-of-type {
    border-top-left-radius: 0;
  }
  .colors-block div:last-of-type {
    border-top-right-radius: 0;
  }
}
.st0 {
  fill: #fff;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url(../img/default.gif);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #2c343b;
  background-color: #f2f2f2;
}
a {
  color: #d44457;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.cd-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #21272c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
    background-color: transparent;
  }
}
#cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
#cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  #cd-logo {
    margin: 23px 0 0 5%;
  }
}
.cd-primary-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
}
.cd-primary-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-primary-nav ul.is-visible {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-primary-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #21272c;
  border-top: 1px solid #333c44;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    width: auto;
    height: auto;
    background: 0 0;
  }
  .cd-primary-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-primary-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-primary-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-primary-nav a {
    display: inline-block;
    height: auto;
    font-weight: 600;
    line-height: normal;
    background: 0 0;
    padding: 0.6em 1em;
    border-top: none;
  }
}
.cd-hero {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-hero-slider {
  position: relative;
  height: 360px;
  overflow: hidden;
}
.cd-hero-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-hero-slider li.selected {
  position: relative;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-hero-slider li.move-left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.cd-hero-slider li.is-moving,
.cd-hero-slider li.selected {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
@media only screen and (min-width: 768px) {
  .cd-hero-slider {
    height: 500px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-hero-slider {
    height: 680px;
  }
}
.cd-hero-slider li {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cd-hero-slider li:first-of-type {
  background-image: url(../img/slide_01.jpg);
}
.cd-hero-slider li:nth-of-type(2) {
  background-image: url(../img/slide_02.jpg);
}
.cd-hero-slider li:nth-of-type(3) {
  background-image: url(../img/slide_03.jpg);
}
.cd-hero-slider .cd-full-width,
.cd-hero-slider .cd-half-width {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 80px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-hero-slider .cd-img-container {
  display: none;
}
.cd-hero-slider .cd-img-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-hero-slider .cd-bg-video-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cd-hero-slider .cd-bg-video-wrapper video {
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-hero-slider h2,
.cd-hero-slider p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  margin: 0 auto 14px;
  color: #fff;
  width: 90%;
  max-width: 400px;
}
.cd-hero-slider h2 {
  font-size: 2.4rem;
}
.cd-hero-slider p {
  font-size: 1.4rem;
  line-height: 1.4;
}
.cd-hero-slider .cd-btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: 0.8em;
  background-color: rgba(212, 68, 87, 0.9);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-hero-slider .cd-btn.secondary {
  background-color: rgba(22, 26, 30, 0.8);
}
.cd-hero-slider .cd-btn:nth-of-type(2) {
  margin-left: 1em;
}
.no-touch .cd-hero-slider .cd-btn:hover {
  background-color: #d44457;
}
.no-touch .cd-hero-slider .cd-btn.secondary:hover {
  background-color: #161a1e;
}
@media only screen and (min-width: 768px) {
  .cd-hero-slider .cd-full-width,
  .cd-hero-slider .cd-half-width {
    padding-top: 150px;
  }
  .cd-hero-slider .cd-bg-video-wrapper {
    display: block;
  }
  .cd-hero-slider .cd-half-width {
    width: 45%;
  }
  .cd-hero-slider .cd-half-width:first-of-type {
    left: 5%;
  }
  .cd-hero-slider .cd-half-width:nth-of-type(2) {
    right: 5%;
    left: auto;
  }
  .cd-hero-slider .cd-img-container {
    display: block;
  }
  .cd-hero-slider h2,
  .cd-hero-slider p {
    max-width: 520px;
  }
  .cd-hero-slider h2 {
    font-size: 2.4em;
    font-weight: 300;
  }
  .cd-hero-slider .cd-btn {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-hero-slider .cd-full-width,
  .cd-hero-slider .cd-half-width {
    padding-top: 250px;
  }
  .cd-hero-slider h2,
  .cd-hero-slider p {
    margin-bottom: 20px;
  }
  .cd-hero-slider h2 {
    font-size: 3.2em;
  }
  .cd-hero-slider p {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .cd-hero-slider .cd-half-width {
    opacity: 0;
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
  }
  .cd-hero-slider .move-left .cd-half-width {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  .cd-hero-slider .selected .cd-half-width {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-hero-slider .is-moving .cd-half-width {
    -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s;
  }
  .cd-hero-slider li.selected.from-left .cd-half-width:nth-of-type(2),
  .cd-hero-slider li.selected.from-right .cd-half-width:first-of-type {
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
  }
  .cd-hero-slider li.selected.from-left .cd-half-width:first-of-type,
  .cd-hero-slider li.selected.from-right .cd-half-width:nth-of-type(2) {
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
    -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
  }
  .cd-hero-slider .cd-full-width .cd-btn,
  .cd-hero-slider .cd-full-width h2,
  .cd-hero-slider .cd-full-width p {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  .cd-hero-slider .move-left .cd-full-width .cd-btn,
  .cd-hero-slider .move-left .cd-full-width h2,
  .cd-hero-slider .move-left .cd-full-width p {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  .cd-hero-slider .selected .cd-full-width .cd-btn,
  .cd-hero-slider .selected .cd-full-width h2,
  .cd-hero-slider .selected .cd-full-width p {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-hero-slider li.is-moving .cd-full-width .cd-btn,
  .cd-hero-slider li.is-moving .cd-full-width h2,
  .cd-hero-slider li.is-moving .cd-full-width p {
    -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s;
  }
  .cd-hero-slider li.selected h2 {
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
  }
  .cd-hero-slider li.selected p {
    -webkit-transition: opacity 0.4s 0.3s, -webkit-transform 0.5s 0.3s;
    -moz-transition: opacity 0.4s 0.3s, -moz-transform 0.5s 0.3s;
    transition: opacity 0.4s 0.3s, transform 0.5s 0.3s;
  }
  .cd-hero-slider li.selected .cd-btn {
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s,
      background-color 0.2s 0s;
    -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s,
      background-color 0.2s 0s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s;
  }
}
.cd-slider-nav {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  text-align: center;
  height: 55px;
  background-color: rgba(0, 1, 1, 0.5);
}
.cd-slider-nav a,
.cd-slider-nav li,
.cd-slider-nav nav,
.cd-slider-nav ul {
  height: 100%;
}
.cd-slider-nav nav {
  display: inline-block;
  position: relative;
}
.cd-slider-nav .cd-marker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100%;
  color: #d44457;
  background-color: #fff;
  box-shadow: inset 0 2px 0 currentColor;
  -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
  -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
}
.cd-slider-nav .cd-marker.item-2 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-slider-nav .cd-marker.item-3 {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.cd-slider-nav .cd-marker.item-4 {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
  transform: translateX(300%);
}
.cd-slider-nav .cd-marker.item-5 {
  -webkit-transform: translateX(400%);
  -moz-transform: translateX(400%);
  -ms-transform: translateX(400%);
  -o-transform: translateX(400%);
  transform: translateX(400%);
}
.cd-slider-nav ul::after {
  clear: both;
  content: '';
  display: table;
}
.cd-slider-nav li {
  display: inline-block;
  width: 60px;
  float: left;
}
.cd-slider-nav li.selected a {
  color: #2c343b;
}
.no-touch .cd-slider-nav li.selected a:hover {
  background-color: transparent;
}
.cd-slider-nav a {
  display: block;
  position: relative;
  padding-top: 35px;
  font-size: 1rem;
  font-weight: 700;
  color: #a8b4be;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-slider-nav a::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.no-touch .cd-slider-nav a:hover {
  background-color: rgba(0, 1, 1, 0.5);
}
.cd-slider-nav li:first-of-type a::before {
  background-position: 0 0;
}
.cd-slider-nav li.selected:first-of-type a::before {
  background-position: 0 -24px;
}
.cd-slider-nav li:nth-of-type(2) a::before {
  background-position: -24px 0;
}
.cd-slider-nav li.selected:nth-of-type(2) a::before {
  background-position: -24px -24px;
}
.cd-slider-nav li:nth-of-type(3) a::before {
  background-position: -48px 0;
}
.cd-slider-nav li.selected:nth-of-type(3) a::before {
  background-position: -48px -24px;
}
.cd-slider-nav li:nth-of-type(4) a::before {
  background-position: -72px 0;
}
.cd-slider-nav li.selected:nth-of-type(4) a::before {
  background-position: -72px -24px;
}
.cd-slider-nav li:nth-of-type(5) a::before {
  background-position: -96px 0;
}
.cd-slider-nav li.selected:nth-of-type(5) a::before {
  background-position: -96px -24px;
}
@media only screen and (min-width: 768px) {
  .cd-slider-nav {
    height: 80px;
  }
  .cd-slider-nav .cd-marker,
  .cd-slider-nav li {
    width: 95px;
  }
  .cd-slider-nav a {
    padding-top: 48px;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  .cd-slider-nav a::before {
    top: 18px;
  }
}
.cd-main-content {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  padding: 2em 0;
}
.cd-main-content p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #999;
  margin: 2em 0;
}
@media only screen and (min-width: 1170px) {
  .cd-main-content {
    padding: 3em 0;
  }
  .cd-main-content p {
    font-size: 1.6rem;
  }
}
.no-js .cd-hero-slider li {
  display: none;
}
.no-js .cd-hero-slider li.selected {
  display: block;
}
.no-js .cd-slider-nav {
  display: none;
}
.owl-carousel .owl-wrapper:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -ms-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls a:hover {
  color: #369;
}
.owl-controls .bg-prev {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  z-index: 10;
  background: #fff;
  border: 1px solid #369;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.owl-controls .bg-prev:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 2px solid #369;
}
.owl-controls .prev {
  left: 15px;
  z-index: 11;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 32px;
}
.owl-controls .prev.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.owl-controls .prev:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.owl-controls .bg-next {
  position: absolute;
  float: right;
  z-index: 1;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 10;
  background: #fff;
  border: 1px solid #369;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.owl-controls .bg-next:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 2px solid #369;
}
.owl-controls .next {
  right: 15px;
  z-index: 11;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 32px;
}
.owl-controls .next.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.owl-controls .next:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.owl-theme .owl-controls .owl-page {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-controls .owl-page a {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: 0 0;
  border: 2px solid #888;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1;
  display: inline-block;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
#color-picker svg {
  enable-background: new 0 0 632.7 637;
}
#color-picker svg img {
  overflow: visible;
}
